(
    show_hierarchy: None, show_menu: None, show_ticks: None, show_toolbar: None,
    show_tooltip: None, show_scope_tooltip: None, show_default_timeline: None,
    show_overview: None, show_statusbar: None, align_names_right: None,
    show_variable_indices: None, show_variable_direction: None, show_empty_scopes: None,
    show_hierarchy_icons: None, show_parameters_in_scopes: None,
    parameter_display_location: None, highlight_focused: None, fill_high_values: None,
    primary_button_drag_behavior: None, arrow_key_bindings: None,
    clock_highlight_type: None, hierarchy_style: None,
    autoload_sibling_state_files: None, autoreload_files: None,
    waves: Some((
        source: File("tb.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((strs: ["top_tb"], id: Wellen((2))))),
        items_tree: (
            items: [
                (item_ref: (1), level: 0, unfolded: true, selected: false),
                (item_ref: (2), level: 1, unfolded: true, selected: false),
                (item_ref: (3), level: 1, unfolded: true, selected: false),
                (item_ref: (4), level: 0, unfolded: true, selected: false),
                (item_ref: (5), level: 1, unfolded: true, selected: false),
                (item_ref: (6), level: 1, unfolded: true, selected: false),
                (item_ref: (7), level: 1, unfolded: true, selected: false),
                (item_ref: (8), level: 1, unfolded: true, selected: false),
                (item_ref: (9), level: 1, unfolded: true, selected: false),
                (item_ref: (10), level: 1, unfolded: true, selected: false),
                (item_ref: (11), level: 0, unfolded: true, selected: false),
                (item_ref: (12), level: 1, unfolded: true, selected: false),
                (item_ref: (13), level: 1, unfolded: true, selected: false),
                (item_ref: (14), level: 1, unfolded: true, selected: false),
                (item_ref: (15), level: 1, unfolded: true, selected: false),
                (item_ref: (16), level: 1, unfolded: true, selected: false),
                (item_ref: (17), level: 1, unfolded: true, selected: false),
                (item_ref: (18), level: 0, unfolded: true, selected: false),
                (item_ref: (19), level: 1, unfolded: true, selected: false),
                (item_ref: (20), level: 1, unfolded: true, selected: false),
                (item_ref: (21), level: 1, unfolded: true, selected: false),
                (item_ref: (22), level: 1, unfolded: true, selected: false),
                (item_ref: (23), level: 1, unfolded: true, selected: false),
                (item_ref: (24), level: 1, unfolded: true, selected: false),
                (item_ref: (25), level: 1, unfolded: true, selected: false),
                (item_ref: (26), level: 1, unfolded: true, selected: false),
                (item_ref: (27), level: 1, unfolded: true, selected: false),
                (item_ref: (28), level: 1, unfolded: true, selected: false),
                (item_ref: (29), level: 0, unfolded: true, selected: false),
                (item_ref: (30), level: 1, unfolded: true, selected: false),
                (item_ref: (31), level: 1, unfolded: true, selected: false),
                (item_ref: (32), level: 1, unfolded: true, selected: false),
                (item_ref: (33), level: 1, unfolded: true, selected: false),
                (item_ref: (34), level: 1, unfolded: true, selected: false),
                (item_ref: (35), level: 0, unfolded: true, selected: false),
                (item_ref: (36), level: 1, unfolded: true, selected: false),
                (item_ref: (37), level: 1, unfolded: true, selected: false),
                (item_ref: (38), level: 1, unfolded: true, selected: false),
                (item_ref: (39), level: 1, unfolded: true, selected: false),
                (item_ref: (40), level: 0, unfolded: true, selected: false),
                (item_ref: (41), level: 1, unfolded: true, selected: false),
                (item_ref: (42), level: 1, unfolded: true, selected: false),
                (item_ref: (43), level: 1, unfolded: true, selected: false),
                (item_ref: (44), level: 1, unfolded: true, selected: false),
                (item_ref: (45), level: 1, unfolded: true, selected: false),
                (item_ref: (46), level: 0, unfolded: true, selected: false),
                (item_ref: (47), level: 1, unfolded: true, selected: false),
                (item_ref: (48), level: 1, unfolded: true, selected: false),
                (item_ref: (49), level: 1, unfolded: true, selected: false),
                (item_ref: (50), level: 0, unfolded: true, selected: false),
                (item_ref: (51), level: 1, unfolded: true, selected: false),
                (item_ref: (52), level: 1, unfolded: true, selected: false),
            ],
        ),
        displayed_items: {
            (1): Group((name: "Clock & Reset", color: None, background_color: None, content: [], is_open: true)),
            (2): Variable((
                variable_ref: (path: (strs: ["top_tb"], id: Wellen((2))), name: "clk", id: Wellen((101)), index: None),
                color: None, background_color: None,
                display_name: "clk", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (3): Variable((
                variable_ref: (path: (strs: ["top_tb"], id: Wellen((2))), name: "rst_n", id: Wellen((102)), index: None),
                color: None, background_color: None,
                display_name: "rst_n", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (4): Group((name: "Fetch / PC", color: None, background_color: None, content: [], is_open: true)),
            (5): Variable((
                variable_ref: (path: (strs: ["top_tb"], id: Wellen((2))), name: "pc", id: Wellen((103)), index: None),
                color: None, background_color: None,
                display_name: "pc [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Unsigned"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (6): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "datapath_inst"], id: Wellen((90))), name: "pc_next", id: Wellen((104)), index: None),
                color: None, background_color: None,
                display_name: "pc_next [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Unsigned"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (7): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "datapath_inst"], id: Wellen((90))), name: "pc_plus4", id: Wellen((105)), index: None),
                color: None, background_color: None,
                display_name: "pc_plus4 [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Unsigned"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (8): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "datapath_inst"], id: Wellen((90))), name: "pc_target", id: Wellen((106)), index: None),
                color: None, background_color: None,
                display_name: "pc_target [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Unsigned"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (9): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst"], id: Wellen((50))), name: "pc_src", id: Wellen((107)), index: None),
                color: None, background_color: None,
                display_name: "pc_src", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (10): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst"], id: Wellen((50))), name: "pc_target_src", id: Wellen((108)), index: None),
                color: None, background_color: None,
                display_name: "pc_target_src", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (11): Group((name: "Instruction / Decode", color: None, background_color: None, content: [], is_open: true)),
            (12): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut"], id: Wellen((13))), name: "instr", id: Wellen((109)), index: None),
                color: None, background_color: None,
                display_name: "instr [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Binary (with groups)"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (13): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "control_unit_inst"], id: Wellen((55))), name: "op", id: Wellen((110)), index: None),
                color: None, background_color: None,
                display_name: "op [6:0]", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (14): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "control_unit_inst"], id: Wellen((55))), name: "funct3", id: Wellen((111)), index: None),
                color: None, background_color: None,
                display_name: "funct3 [2:0]", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (15): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "control_unit_inst"], id: Wellen((55))), name: "funct7b5", id: Wellen((112)), index: None),
                color: None, background_color: None,
                display_name: "funct7b5", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (16): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "datapath_inst"], id: Wellen((90))), name: "imm_ext", id: Wellen((113)), index: None),
                color: None, background_color: None,
                display_name: "imm_ext [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Binary (with groups)"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (17): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "control_unit_inst"], id: Wellen((55))), name: "imm_src", id: Wellen((114)), index: None),
                color: None, background_color: None,
                display_name: "imm_src [2:0]", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (18): Group((name: "Control", color: None, background_color: None, content: [], is_open: true)),
            (19): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst"], id: Wellen((50))), name: "reg_write", id: Wellen((115)), index: None),
                color: None, background_color: None,
                display_name: "reg_write", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (20): Variable((
                variable_ref: (path: (strs: ["top_tb"], id: Wellen((2))), name: "mem_write", id: Wellen((116)), index: None),
                color: None, background_color: None,
                display_name: "mem_write", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (21): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst"], id: Wellen((50))), name: "result_src", id: Wellen((117)), index: None),
                color: None, background_color: None,
                display_name: "result_src [1:0]", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (22): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst"], id: Wellen((50))), name: "alu_src", id: Wellen((118)), index: None),
                color: None, background_color: None,
                display_name: "alu_src", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (23): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "control_unit_inst"], id: Wellen((55))), name: "alu_op", id: Wellen((119)), index: None),
                color: None, background_color: None,
                display_name: "alu_op [1:0]", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (24): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst"], id: Wellen((50))), name: "alu_ctrl", id: Wellen((120)), index: None),
                color: None, background_color: None,
                display_name: "alu_ctrl [3:0]", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (25): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst"], id: Wellen((50))), name: "alu_a_src", id: Wellen((121)), index: None),
                color: None, background_color: None,
                display_name: "alu_a_src [1:0]", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (26): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "control_unit_inst"], id: Wellen((55))), name: "branch", id: Wellen((122)), index: None),
                color: None, background_color: None,
                display_name: "branch", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (27): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "control_unit_inst"], id: Wellen((55))), name: "jump", id: Wellen((123)), index: None),
                color: None, background_color: None,
                display_name: "jump", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (28): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "control_unit_inst"], id: Wellen((55))), name: "branch_taken", id: Wellen((124)), index: None),
                color: None, background_color: None,
                display_name: "branch_taken", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (29): Group((name: "Datapath", color: None, background_color: None, content: [], is_open: true)),
            (30): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "datapath_inst"], id: Wellen((90))), name: "rs1_data", id: Wellen((125)), index: None),
                color: None, background_color: None,
                display_name: "rs1_data [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Binary (with groups)"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (31): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "datapath_inst"], id: Wellen((90))), name: "rs2_data", id: Wellen((126)), index: None),
                color: None, background_color: None,
                display_name: "rs2_data [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Binary (with groups)"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (32): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "datapath_inst"], id: Wellen((90))), name: "src_a", id: Wellen((127)), index: None),
                color: None, background_color: None,
                display_name: "src_a [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Binary (with groups)"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (33): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "datapath_inst"], id: Wellen((90))), name: "src_b", id: Wellen((128)), index: None),
                color: None, background_color: None,
                display_name: "src_b [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Binary (with groups)"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (34): Variable((
                variable_ref: (path: (strs: ["top_tb"], id: Wellen((2))), name: "write_data", id: Wellen((129)), index: None),
                color: None, background_color: None,
                display_name: "write_data [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Binary (with groups)"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (35): Group((name: "ALU", color: None, background_color: None, content: [], is_open: true)),
            (36): Variable((
                variable_ref: (path: (strs: ["top_tb"], id: Wellen((2))), name: "alu_result", id: Wellen((130)), index: None),
                color: None, background_color: None,
                display_name: "alu_result [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Binary (with groups)"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (37): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst"], id: Wellen((50))), name: "zero", id: Wellen((131)), index: None),
                color: None, background_color: None,
                display_name: "zero", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (38): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst"], id: Wellen((50))), name: "lt", id: Wellen((132)), index: None),
                color: None, background_color: None,
                display_name: "lt", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (39): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst"], id: Wellen((50))), name: "ltu", id: Wellen((133)), index: None),
                color: None, background_color: None,
                display_name: "ltu", display_name_type: Unique,
                manual_name: None, format: None, field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (40): Group((name: "Register File", color: None, background_color: None, content: [], is_open: true)),
            (41): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "datapath_inst", "regfile_inst"], id: Wellen((120))), name: "raddr1", id: Wellen((134)), index: None),
                color: None, background_color: None,
                display_name: "raddr1 [4:0]", display_name_type: Unique,
                manual_name: None, format: Some("Unsigned"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (42): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "datapath_inst", "regfile_inst"], id: Wellen((120))), name: "raddr2", id: Wellen((135)), index: None),
                color: None, background_color: None,
                display_name: "raddr2 [4:0]", display_name_type: Unique,
                manual_name: None, format: Some("Unsigned"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (43): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "datapath_inst", "regfile_inst"], id: Wellen((120))), name: "waddr", id: Wellen((136)), index: None),
                color: None, background_color: None,
                display_name: "waddr [4:0]", display_name_type: Unique,
                manual_name: None, format: Some("Unsigned"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (44): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "datapath_inst", "regfile_inst"], id: Wellen((120))), name: "rdata1", id: Wellen((137)), index: None),
                color: None, background_color: None,
                display_name: "rdata1 [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Binary (with groups)"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (45): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "riscv_single_inst", "datapath_inst", "regfile_inst"], id: Wellen((120))), name: "rdata2", id: Wellen((138)), index: None),
                color: None, background_color: None,
                display_name: "rdata2 [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Binary (with groups)"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (46): Group((name: "Memory", color: None, background_color: None, content: [], is_open: true)),
            (47): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "dmem_inst"], id: Wellen((14))), name: "addr", id: Wellen((139)), index: None),
                color: None, background_color: None,
                display_name: "addr [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Unsigned"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (48): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut", "dmem_inst"], id: Wellen((14))), name: "wdata", id: Wellen((140)), index: None),
                color: None, background_color: None,
                display_name: "wdata [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Binary (with groups)"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (49): Variable((
                variable_ref: (path: (strs: ["top_tb", "dut"], id: Wellen((13))), name: "read_data", id: Wellen((141)), index: None),
                color: None, background_color: None,
                display_name: "read_data [31:0]", display_name_type: Unique,
                manual_name: None, format: Some("Binary (with groups)"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (50): Group((name: "Checker", color: None, background_color: None, content: [], is_open: true)),
            (51): Variable((
                variable_ref: (path: (strs: ["top_tb"], id: Wellen((2))), name: "checks", id: Wellen((142)), index: None),
                color: None, background_color: None,
                display_name: "checks", display_name_type: Unique,
                manual_name: None, format: Some("Unsigned"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
            (52): Variable((
                variable_ref: (path: (strs: ["top_tb"], id: Wellen((2))), name: "errors", id: Wellen((143)), index: None),
                color: None, background_color: None,
                display_name: "errors", display_name_type: Unique,
                manual_name: None, format: Some("Unsigned"), field_formats: [],
                height_scaling_factor: Some(1.0), analog: None,
            )),
        },
        display_item_ref_counter: 54,
        viewports: [(
            curr_left: (0.0), curr_right: (1.0),
            target_left: (0.0), target_right: (1.0),
            move_start_left: (0.0), move_start_right: (1.0),
            move_duration: None, move_strategy: Instant,
        )],
        cursor: None, markers: {}, focused_item: None,
        focused_transaction: (None, None),
        default_variable_name_type: Unique, scroll_offset: 0.0,
        display_variable_indices: true, graphics: {},
    )),
    drag_started: false, drag_source_idx: None, drag_target_idx: None,
    previous_waves: None, count: None, blacklisted_translators: [],
    show_about: false, show_keys: false, show_gestures: false,
    show_quick_start: false, show_license: false, show_performance: false,
    show_logs: false, show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16, "square_pixels": true, "color_mode": Grayscale,
        "grayscale_bits": 1, "r_bits": 3, "g_bits": 3, "b_bits": 2,
        "y_bits": 8, "cb_bits": 8, "cr_bits": 8,
    },
    wanted_timeunit: Seconds, time_string_format: None, show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain, name_filter_str: "",
        name_filter_case_insensitive: true, include_inputs: true,
        include_outputs: true, include_inouts: true, include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0), ui_zoom_factor: None,
    animation_enabled: None, use_dinotrace_style: None, transition_value: None,
)
